*{ margin: 0; padding: 0; }

ul {
    list-style: none;
    color: white;
}

header {
    position: relative;
    height: 100px;
    background-color: #261916;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    background-color: black;
    padding-bottom: 116px;
}

.head-rectangle-right {
    position: absolute;
    right: 0;
    top: 0;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 8%;
    margin-right: 12%;
}

.logo {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.9));
    
}

.navigation {
    list-style: none;
    display: flex;
    gap: 35px;
    align-items: center;
    position: relative;
    z-index: 1;
}

.gold-circle {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 253px;
    bottom: 37px;
    border-radius: 50%;
    background-color: #CAA069;
}

.navigation li {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;  
    color: #FFFFFF;
    z-index: 1;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    height: 100%;
}

.nav-icons {
    display: flex;
    list-style: none;
    gap: 28px;
    align-items: center;
    z-index: 1;
}

.pink-button {
    background: #E60B7F;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    border: 0;
    margin-top: 45px;
    position: relative;
    z-index: 1;
    width: max-content;
}

.pink-button p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.rectangles {
    position: absolute;
    top: -80px;
    left: -46px;
}

.main-image {
    position: relative;
    overflow: hidden;
    flex-basis: 1165px;
    height: 600px;
}

.main-image img:last-child {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.img-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background: linear-gradient(360deg, #000000 -4.75%, rgba(0, 0, 0, 0) 48.75%);
}

.text-content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.text-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    margin-top: 15px;
    color: #B5CD1F;
}

.first-section .text-title {
    color: #B5CD1F;
    margin-bottom: 0;
}

.first-section {
    display: flex;
    margin-left: 82px;
    align-items: center;
}

ul > li > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.text-container {
    display: flex;
}

.number-list {
    text-align: center;
    margin-right: 54px;
}

.number-list > li {
    margin-bottom: 26px;
}

.number-list > li:first-child {
    position: relative;
}

.number-list > li:first-child p{
    position: relative;
    z-index: 1;
}

.ellipse {
    position: absolute;
    top: -14px;
    left: -12px;
}

.scroll-container {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transform: rotate(270deg);
}

.little-line-break {
    width: 57px;
    border-top: 2px solid white;
}

.scroll p {
    color: #CAA069;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.img-aboutus {
    position: relative;
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 120px #000, inset 0 0 80px #000, inset 0 0 50px #000;
}

.text-title {
    color: #CAA069;
    margin-bottom: 40px;
}

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 44%;
}

h2 {
    color: rgba(181, 205, 31, 0.4);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 112px;
    line-height: 137px;
    letter-spacing: 0.1em;
    margin-top: -50px;
    margin-left: 30px;
}

.img-quality {
    margin-right: 14px;
    position: relative;
}

.third-section {
    display: flex;
    margin-top: 210px;
    justify-content: center;
    align-items: center;
}

.third-section h2 {
    position: initial;
    margin-top: -18px;
}

.launch-section p {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.launch-section {
    margin-top: 268px;
}

h3 {
    color: #CAA069;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 40px;
}

.card-product-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.card-product {
    width: 318px;
}

.collection-section {
    margin-top: 190px;
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;

    color: #FFFFFF;
}

.card-collection-container {
    position: relative;
    margin-bottom: 18px;
}

.card-collection-container:last-child {
    margin-bottom: 0;
}

.card-collection-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 500px;
}

.card-collection-text .little-line-break {
    margin-top: 36px;
    border-top:  2px solid#B5CD1F;
    margin-left: 270px;
}
.card-collection-text .pink-button {
    margin-top: 0;
}
.card-collection-text > p {
    margin-left: 270px;
    margin-right: 190px;
}

.card-collection-img {
    position: relative;
    width: max-content;
}

.collection-section > .card-collection-container:nth-child(2) .little-line-break {
    border-top:  2px solid #E60B7F;
}

.collection-section > .card-collection-container:last-child .little-line-break {
    border-top:  2px solid #F7A708;
}

.bottom-section {
    background-color: #1D1D1D;
    padding-top: 54px;
}

.magazine-section__title {
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 110px;
    letter-spacing: 0.1em;
    color: white;
}

.magazine-section__sub-title {
    font-family: Yellowtail;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 123px;
    letter-spacing: 0.1em;
    margin-top: -55px;
    color: #CAA069;
}

.magazine-card__hashtag-line {
    border-top: 2px solid #E60B7F;
    width: 48px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.magazine-card__hashtag {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.1em;
}

.magazine-card__text {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 366px;
}

.magazine-card {
    display: flex;
}

.magazine-card__title {
    font-family: Yeseva One;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.magazine-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 65px;
    column-gap: 30px;
    row-gap: 18px;
}

.magazine-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.magazine-card__img > img {
    height: 100%;
}

.contact-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.contact-container__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #CAA069;
    margin-bottom: 20px;
}

.contact-container__sub-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.contact-container__input {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 18px 18px 13px 18px;
    width: 100%;
    margin-bottom: 10px;
}

.contact-container__input::placeholder {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #C4C4C4;
    text-align: center;
}

.contact-container__btn {
    width: 100%;
    padding: 18px 18px 13px 18px;
    background: #CAA069;
    border: 0;
    border-radius: 5px; 
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 72px;
}

footer {
    background-color: black;
}

.footer-container {
    padding: 52px 150px 0 150px;
}

.logo-footer {
    margin-bottom: 50px;
}

.link-container {
    display: flex;
    justify-content: space-between;
}

.link-box li {
    color: #C4C4C4;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
}

.link-box li:first-child {
    color: white;
    margin-bottom: 20px;    
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.link-box {
    width: 20%;
}

.button-footer {
    background: #CAA069;
    border-radius: 5px;
    border: 0;
    height: 44px;
    min-width: 160px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

.break-line-footer {
    border: 1px solid #CAA069;
    margin: 45px 50px 8px 50px;
}

.icon-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
    padding-left: 12px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.payment-icons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.paypal-icon {
    width: 26px;
}


